<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a delivery</title>
</head>
<body>
<form action="http://localhost:8082/createDelivery">
    <p>
    <label for="drone">Drone:</label>
    <select id="drone" name="drone">
        <span  th:each="drone : ${drones}">
            <option th:value="${drone.Id}"><span th:text="'Drone with id ' + ${drone.Id}"/></option>
        </span>
    </select>
    </p>

    <p>
    <label for="item">Item:</label>
    <select id="item" name="item">
        <span th:each="item : ${items}">
            <option th:value="${item.Id}"><span th:text="'Item with id ' + ${item.Id}"/></option>
        </span>
    </select>
    <p> X coordinate <input type="text" name="x"></p>
    <p> Y coordinate <input type="text" name="y"></p>
    <p><input type="submit" value="Submit"></p>
    </p>
</form>
</body>
</html>